<div class="resource">
	<label class="resource-label">Quantity</label>
	<input type="text" name="data.quantity.value" value="{{data.quantity.value}}" data-dtype="Number" />
</div>
<div class="resource">
	<label class="resource-label">Value</label>
	<input type="text" name="data.value" value="{{data.value}}" data-dtype="Number" />
</div>
<div class="resource">
	<label class="resource-label">Weight</label>
	<input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number" />
</div>

<div>
	<label class="resource-label">Location</label>
	<span>
		<select name="location" data-dtype="String" style="width:100px" class="item-control item-relocate">
			{{#select location}}
			{{#each locations as |loc|}}
			<option value="{{loc}}" data-dtype="String">{{loc}}</option>
			{{/each}}

			{{#if (gt containers.length 0)}}
			<option disabled>---------------</option>
			{{#each containers as |con|}}
			<option value="{{con.id}}" data-dtype="String">{{con.name}}</option>
			{{/each}}
			{{/if}}
			{{/select}}
		</select>
	</span>
</div>
<div class="resource">
	<label class="resource-label">Loot</label>
	<input type="checkbox" name="data.isLoot" {{checked data.isLoot}} data-dtype="Boolean" />
</div>
