<div class="flexcol">
  <div class="flexrow">
    <label for="data.startingHealth" class="resource-label">Starting Health</label>
    <input type="text" name="data.startingHealth" value="{{data.startingHealth}}" data-dtype="Number"/>
  </div>
  <div class="flexrow">
    <label for="data.maxHealthPerLevel" class="resource-label">Max Health Per Level</label>
    <input type="text" name="data.maxHealthPerLevel" value="{{data.maxHealthPerLevel}}" data-dtype="Number"/>
  </div>
  <div class="flexrow">
    <label for="data.maxHealthPerLevelHeroic" class="resource-label">Max Health Per Level (Heroic)</label>
    <input type="text" name="data.maxHealthPerLevelHeroic" value="{{data.maxHealthPerLevelHeroic}}" data-dtype="Number"/>
  </div>
  <div class="flexrow">
    <label for="data.attackBonusPerLevel" class="resource-label">Attack Bonus Per Level</label>
    <input type="text" name="data.attackBonusPerLevel" value="{{data.attackBonusPerLevel}}" data-dtype="Number"/>
  </div>
</div>