<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" data-dtype="String" /></h1>
      <div class="grid grid-2col">
				<div class="resource">
					<label class="resource-label">Base Defense</label>
					<input type="text" name="data.defense" value="{{data.defense}}" data-dtype="String" />
				</div>
				<div class="resource">
					<label class="resource-label">Defense Bonus</label>
					<input type="text" name="data.defenseBonus" value="{{data.defenseBonus}}" data-dtype="String" />
				</div>
				<div class="resource">
					<label class="resource-label">Max Dex Bonus</label>
					<input type="text" name="data.maxDexterityBonus" value="{{data.maxDexterityBonus}}" data-dtype="Number" />
				</div>
				<div class="resource">
					<label class="resource-label">Max Dex Mod</label>
					<input type="text" name="data.maxDexterityMod" value="{{data.maxDexterityMod}}" data-dtype="Number" />
				</div>
				<div class="resource">
					<label class="resource-label">Proficient</label>
					<input type="checkbox" name="data.isProficient" {{checked data.isProficient}} data-dtype="Boolean" />
				</div>
				<div class="resource">
					<label class="resource-label">Type</label>
          <select name="data.proficiencyGroup" data-dtype="String">       {{!-- @@@ read only for players, drop down for compendiumm building? --}}
            {{#select data.proficiencyGroup}}
            <option value="Light" data-dtype="String">Light</option>
            <option value="Medium" data-dtype="String">Medium</option>
            <option value="Heavy" data-dtype="String">Heavy</option>
            <option value="Shield" data-dtype="String">Shield</option>
            {{/select}}
          </select>
				</div>
      </div>

			<!-- Standard Item Properties -->
			<div class="grid grid-3col">
				{{> "systems/redage/templates/item/parts/item-basics-sheet.html"}}
			</div>

    </div>
  </header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="qualities">Qualities</a>
		<a class="item" data-tab="description">Description</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">

    {{!-- Qualities Tab --}}
    <div class="tab" data-group="primary" data-tab="qualities">
      {{> "systems/redage/templates/item/parts/item-qualities-sheet.html"}}
    </div>

		{{!-- Description Tab --}}
		<div class="tab" data-group="primary" data-tab="description">
			{{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
		</div>

	</section>

</form>
